/*Colores, tamaños y tipos de letra*/
a {
    color: blue;
    font-size: 12pp;
}
body{font-family: Verdana;}
caption{color: black;font-size: 14px;}
h1{color: #333; font-size: 20px;}
h2{color: #666; font-size: 16px;}
p, li, td { color: black; font-size: 12px;}
th {color: white; font-size: 12px;}

/*Tabla*/
table, td, th {border: 1px solid black;}
table {border-collapse: collapse;}
td, th {padding: 10; text-align: center;}
thead {background:#666;}
tfoot {background: #ccc;}